<section>
  <div class="adv-container">
    <h2 class="adv-title">Advantages</h2>
    <ul class="adv-list">
      <li class="adv-item">
        <div class="adv-info">
          <h3 class="adv-item-title">Engaging Storyline:</h3>
          <p class="adv-item-descr">
            Immerse yourself in a captivating mansion restoration story.
          </p>
        </div>
        <div class="adv-icon icon-tool">
          <img
            class="adv-icon-img"
            src="./img/advantages/tool@1x.png"
            alt="tool"
          />
        </div>
      </li>
      <li class="adv-item">
        <div class="adv-info">
          <h3 class="adv-item-title">Addictive Merge Mechanics:</h3>
          <p class="adv-item-descr">
            Combining items offers fun and rewarding surprises at every turn.
          </p>
        </div>
        <div class="adv-icon icon-gloves">
          <img
            class="adv-icon-img"
            src="./img/advantages/gloves@1x.png"
            alt="gloves"
          />
        </div>
      </li>
      <li class="adv-item">
        <div class="adv-info">
          <h3 class="adv-item-title">Stunning Graphics:</h3>
          <p class="adv-item-descr">
            Enjoy vibrant visuals and beautiful animations in each area of your
            farm.
          </p>
        </div>
        <div class="adv-icon icon-light">
          <img
            class="adv-icon-img"
            src="./img/advantages/lightning@1x.png"
            alt="lightning"
          />
        </div>
      </li>
      <li class="adv-item">
        <div class="adv-info">
          <h3 class="adv-item-title">Creative Customization:</h3>
          <p class="adv-item-descr">
            Use unique decorations to personalize every corner of the mansion.
          </p>
        </div>
        <div class="adv-icon icon-lamp">
          <img
            class="adv-icon-img"
            src="./img/advantages/lamp@1x.png"
            alt="lamp"
          />
        </div>
      </li>
      <li class="adv-item">
        <div class="adv-info">
          <h3 class="adv-item-title">Continuous Updates:</h3>
          <p class="adv-item-descr">
            Regularly updated with new items, quests, and adventures.
          </p>
        </div>
        <div class="adv-icon icon-star">
          <img
            class="adv-icon-img"
            src="./img/advantages/star@1x.png"
            alt="star"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
