<div class="container-general-page-footer">
  <footer class="footer-general-page-mobile">
    <div class="footer-container">
      <div class="footer-button-game-container">
        <!-- Кнопка, яка показується спочатку -->
        <a
          href="https://play.google.com/store/apps/details?id=com.enjoysports.merge.farm.life.merge.games"
          class="game-button initial-button"
        >
          <img src="../img/google-play-icon.png" alt="Icon" class="png-icon" />
          <svg class="icon-game">
            <use href="sprite.svg#google-logo"></use>
          </svg>
          <svg class="button-text">
            <use href="sprite.svg#google-play-text-white"></use>
          </svg>
        </a>

        <!-- Кнопка, яка показується при ховері -->
        <a
          href="https://play.google.com/store/apps/details?id=com.enjoysports.merge.farm.life.merge.games"
          class="game-button hover-button"
        >
          <img src="../img/google-play-icon.png" alt="Icon" class="png-icon" />
          <svg class="icon-game">
            <use href="sprite.svg#google-logo"></use>
          </svg>
          <svg class="button-text">
            <use href="sprite.svg#google-play-text-black"></use>
          </svg>
        </a>
      </div>

      <!-- <div class="footer-button-game-container">
        <a
          href="https://play.google.com/store/apps/details?id=com.enjoysports.merge.farm.life.merge.games"
          class="game-button"
        >
          <img src="../img/google-play-icon.png" alt="Icon" class="png-icon" />
          <svg class="button-text icon-white">
            <use href="../img/sprite.svg#google-play-text-white"></use>
          </svg>
          <svg class="button-text icon-black">
            <use href="../img/sprite.svg#google-play-text"></use>
          </svg>
        </a>
      </div> -->

      <p class="rights">
        &copy; 2024 greatadventurepro.com, All rights reserved
      </p>

      <div class="footer-list-general-page">
        <div class="footer-wrapper-link">
          <a href="privacy-policy.html" class="rule">Privacy Policy</a>
          <a href="terms-and-conditions.html" class="rule"
            >Terms and Conditions</a
          >
        </div>
      </div>
    </div>
  </footer>
</div>
