<header class="header-section">
  <div class="header-container">
    <a class="header-logo" href="#">
      <img class="header-icon" src="./img/header/icon.png" alt="grandmother" />
      <p class="header-logo-text">Merge Farm Life: Mansion Story</p>
    </a>
    <button class="header-burger" type="button">
      <svg class="header-burger-icon" width="32" height="32">
        <use href="./img/sprite.svg#burger"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#hero">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About the Game</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#htp">How to Play</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#adv">Advantages</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- MOBILE MENU -->

<div class="mob-menu-overlay">
  <div class="mob-menu">
    <button class="mob-menu-close-btn" type="button">
      <svg class="mob-menu-close-icon" width="32" height="32">
        <use href="./img/sprite.svg#cross"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-nav-list">
        <li class="mob-menu-nav-item">
          <a href="#hero" class="mob-menu-nav-link">Home</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="#gallery" class="mob-menu-nav-link">Gallery</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="#about" class="mob-menu-nav-link">About the Game</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="#htp" class="mob-menu-nav-link">How to Play</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="#adv" class="mob-menu-nav-link">Advantages</a>
        </li>
        <li class="mob-menu-nav-item">
          <a href="#reviews" class="mob-menu-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
