<section class="hero-section" id="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Step into Merge Farm Life: Mansion Story</h1>
      <a
        class="hero-link"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.enjoysports.merge.farm.life.merge.games"
      >
        <svg class="hero-icon-text" width="92" height="29">
          <use href="./img/sprite.svg#google-play-text"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
