<section>
  <div class="htp-container">
    <h2 class="htp-title" id="htp">How to Play</h2>
    <ul class="htp-list">
      <li class="htp-item">
        <h3 class="htp-item-title">Collect and Merge Items:</h3>
        <p class="htp-item-descr">
          Find similar items. Merge them to create new ones.
        </p>
        <div class="htp-item-number">1</div>
      </li>
      <li class="htp-item">
        <h3 class="htp-item-title">Complete Quests:</h3>
        <p class="htp-item-descr">
          Finish tasks to restore different areas of the mansion.
        </p>
        <div class="htp-item-number">2</div>
      </li>
      <li class="htp-item">
        <h3 class="htp-item-title">Unlock New Areas:</h3>
        <p class="htp-item-descr">
          Progress through the game to reveal hidden parts of the estate.
        </p>
        <div class="htp-item-number">3</div>
      </li>
      <li class="htp-item">
        <h3 class="htp-item-title">Personalize Your Farm:</h3>
        <p class="htp-item-descr">
          Use decorations and designs to customize your unique farm experience.
        </p>
        <div class="htp-item-number">4</div>
      </li>
    </ul>
  </div>
</section>
