<section>
  <div class="reviews-container">
    <h2 class="reviews-title" id="reviews">Reviews</h2>
    <div class="reviews-phone-swiper">
      <div class="swiper reviews-phone-swiper-select">
        <div class="swiper-wrapper">
          <div class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper review-first-slide">
              <p class="reviews-card-text">
                The merge mechanics are so addictive, and the storyline keeps me
                hooked!
              </p>
              <p class="reviews-card-username">- FarmFanatic123</p>
            </div>
          </div>
          <div class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper review-second-slide">
              <p class="reviews-card-text">
                A relaxing and fun way to build my dream farm and mansion!
              </p>
              <p class="reviews-card-username">- GreenThumbGuru</p>
            </div>
          </div>
          <div class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper review-third-slide">
              <p class="reviews-card-text">
                Love the customization options and the cute characters. Perfect
                blend of puzzle and story!
              </p>
              <p class="reviews-card-username">- MergeMaster</p>
            </div>
          </div>
          <div class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper review-forth-slide">
              <p class="reviews-card-text">
                Visually stunning game with a lot of depth in gameplay. Highly
                recommend!
              </p>
              <p class="reviews-card-username">- MansionDreamer</p>
            </div>
          </div>
          <div class="swiper-slide reviews-slide">
            <div class="reviews-slide-wrapper review-fifth-slide">
              <p class="reviews-card-text">
                Keeps getting better with every update. Great for farm and merge
                game lovers!
              </p>
              <p class="reviews-card-username">- PuzzleLover88</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-desktop-swiper">
      <div class="swiper reviews-desktop-swiper-select">
        <div class="swiper-wrapper">
          <div class="swiper-slide reviews-desktop-slide">
            <div
              class="reviews-desktop-slide-wrapper review-desktop-first-slide"
            >
              <p class="reviews-desktop-card-text">
                The merge mechanics are so addictive, and the storyline keeps me
                hooked!
              </p>
              <p class="reviews-desktop-card-username">- FarmFanatic123</p>
            </div>
          </div>
          <div class="swiper-slide reviews-desktop-slide">
            <div
              class="reviews-desktop-slide-wrapper review-desktop-first-slide"
            >
              <p class="reviews-desktop-card-text">
                The merge mechanics are so addictive, and the storyline keeps me
                hooked!
              </p>
              <p class="reviews-desktop-card-username">- FarmFanatic123</p>
            </div>
          </div>
          <div class="swiper-slide reviews-desktop-slide">
            <div
              class="reviews-desktop-slide-wrapper review-desktop-first-slide"
            >
              <p class="reviews-desktop-card-text">
                The merge mechanics are so addictive, and the storyline keeps me
                hooked!
              </p>
              <p class="reviews-desktop-card-username">- FarmFanatic123</p>
            </div>
          </div>
          <div class="swiper-slide reviews-desktop-slide">
            <div
              class="reviews-desktop-slide-wrapper review-desktop-first-slide"
            >
              <p class="reviews-desktop-card-text">
                The merge mechanics are so addictive, and the storyline keeps me
                hooked!
              </p>
              <p class="reviews-desktop-card-username">- FarmFanatic123</p>
            </div>
          </div>
          <div class="swiper-slide reviews-desktop-slide">
            <div
              class="reviews-desktop-slide-wrapper review-desktop-first-slide"
            >
              <p class="reviews-desktop-card-text">
                The merge mechanics are so addictive, and the storyline keeps me
                hooked!
              </p>
              <p class="reviews-desktop-card-username">- FarmFanatic123</p>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

<!-- VARIANT-2_________________________________________________________________________________ -->
<!-- <section class="swiper-container-3">
  <h2 class="reviews-title" id="reviews">Reviews</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper"> -->
<!-- Перша картка _________________________________________-->
<!-- <div class="swiper-slide">
        <div class="card-content">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="../img/reviews/1.png 1x, ../img/reviews/1-mob@2x.png 2x"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/reviews/1-desk@1x.png 1x,
                ../img/reviews/1-desk@2x.png 2x
              "
            />
            <img
              src="../img/reviews/1.png"
              alt="Image-1"
              class="main-image"
              width="288"
              loading="lazy"
            />
          </picture>
          <p class="review-text">
            The merge mechanics are so addictive, and the storyline keeps me
            hooked!
          </p>
        </div>
        <p class="card-caption">- FarmFanatic123</p>
      </div> -->
<!-- Друга картка___________________________________________________________ -->
<!-- <div class="swiper-slide">
        <div class="card-content">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="../img/reviews/2.png 1x, ../img/reviews/2-mob@2x.png 2x"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/reviews/2-desk@1x.png 1x,
                ../img/reviews/2-desk@2x.png 2x
              "
            />
            <img
              src="../img/reviews/2.png"
              alt="Image-2"
              class="main-image"
              width="288"
              loading="lazy"
            />
          </picture>
          <p class="review-text">
            A relaxing and fun way to build my dream farm and mansion!
          </p>
        </div>
        <p class="card-caption">- GreenThumbGuru</p>
      </div> -->
<!-- Третя картка___________________________________ -->
<!-- <div class="swiper-slide">
        <div class="card-content">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="../img/reviews/3.png 1x, ../img/reviews/3-mob@2x.png 2x"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/reviews/3-desk@1x.png 1x,
                ../img/reviews/3-desk@2x.png 2x
              "
            />
            <img
              src="../img/reviews/3.png"
              alt="Image-3"
              class="main-image"
              width="288"
              loading="lazy"
            />
          </picture>
          <p class="review-text">
            Love the customization options and the cute characters. Perfect
            blend of puzzle and story!
          </p>
        </div>
        <p class="card-caption">- MergeMaster</p>
      </div> -->
<!-- Четверта картка_________________________________________ -->
<!-- <div class="swiper-slide">
        <div class="card-content">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="../img/reviews/4.png 1x, ../img/reviews/4-mob@2x.png 2x"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/reviews/4-desk@1x.png 1x,
                ../img/reviews/4-desk@2x.png 2x
              "
            />
            <img
              src="../img/reviews/4.png "
              alt="Image-4"
              class="main-image"
              width="288"
              loading="lazy"
            />
          </picture>
          <p class="review-text">
            Visually stunning game with a lot of depth in gameplay. Highly
            recommend!
          </p>
        </div>
        <p class="card-caption">- MansionDreamer</p>
      </div> -->
<!-- П'ята картка ____________________________________________-->
<!-- <div class="swiper-slide">
        <div class="card-content">
          <picture>
            <source
              media="(max-width: 1199px)"
              srcset="../img/reviews/5.png 1x, ../img/reviews/5-mob@2x.png 2x"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../img/reviews/5-desk@1x.png 1x,
                ../img/reviews/5-desk@2x.png 2x
              "
            />
            <img
              src="../img/reviews/5.png"
              alt="Image-5"
              class="main-image"
              width="288"
              loading="lazy"
            />
          </picture>
          <p class="review-text">
            Keeps getting better with every update. Great for farm and merge
            game lovers!
          </p>
        </div>
        <p class="card-caption">- PuzzleLover88</p>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>  -->
