.adv-container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 16px;
  background: url('../img/advantages/bg-ellipse@1x.png') no-repeat center bottom,
    linear-gradient(180deg, #8a9ad4 0%, #6650ad 100%);
  @include media(desktop) {
    max-width: 1200px;
    padding: 100px 84px 80px;
    background: url('../img/advantages/bg-ellipse-decktop@1x.png') no-repeat
        center bottom,
      linear-gradient(180deg, #8a9ad4 0%, #6650ad 100%);
  }
}

.adv-title {
  scroll-margin-top: 110px;
  text-align: center;
  font-family: 'Domine', serif;
  font-weight: 700;
  @include font(24, 31.2);
  margin-bottom: 32px;
  @include media(desktop) {
    @include font(32, 41.6);
    margin-bottom: 80px;
  }
}

.adv-list {
  @include media(desktop) {
    max-height: 793px;
    background: url('../img/advantages/line1.png') no-repeat 502px 29px,
      url('../img/advantages/line2.png') no-repeat 294px 253px,
      url('../img/advantages/line3.png') no-repeat 319px 360px,
      url('../img/advantages/line4.png') no-repeat 559px 547px;
  }
}

.adv-item {
  height: 184px;
  box-shadow: 0 4px 40px 0 rgba(43, 36, 66, 0.25);
  border-radius: 40px;
  background: url('../img/advantages/bg-card@1x.png') no-repeat top -35px left -15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media(desktop) {
    width: 328px;
    background: url('../img/advantages/bg-card-desktop@1x.png') no-repeat top -35px
      left -40px;
  }
}

.adv-item:not(:last-child) {
  margin-bottom: 16px;
  @include media(desktop) {
    margin-bottom: 0;
  }
}

.adv-item:nth-child(1) {
  @include media(desktop) {
    transform: translate(176px, 0);
  }
}

.adv-item:nth-child(2) {
  @include media(desktop) {
    transform: translate(616px, -36px);
  }
}

.adv-item:nth-child(3) {
  @include media(desktop) {
    transform: translate(0px, -64px);
  }
}

.adv-item:nth-child(4) {
  @include media(desktop) {
    transform: translate(704px, -96px);
  }
}

.adv-item:nth-child(5) {
  @include media(desktop) {
    transform: translate(264px, -128px);
  }
}

.adv-info {
  max-width: 256px;
}

.adv-item-title {
  font-family: 'Domine', serif;
  font-weight: 700;
  margin-bottom: 16px;
  max-width: 188px;
  @include font(18, 23.4);
  @include gradient-text;
}

.adv-item-descr {
  @include font(16, 20.8);
  @include media(desktop) {
    font-weight: 500;
  }

  color: #3a2576;
}

.adv-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-tool {
  top: -8px;
  right: -7px;
}

.icon-gloves {
  top: -13px;
  right: -16px;
}

.icon-light {
  top: -11px;
  right: -3px;
}

.icon-lamp {
  top: -24px;
  right: -6px;
}

.icon-star {
  top: -15px;
  right: -14px;
}
