body,
.bg-color {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Domine', 'Signika', sans-serif;
  background: linear-gradient(
    0deg,
    rgba(168, 160, 229, 0.8) 0%,
    rgba(241, 242, 252, 0.8) 63.4%
  );
  color: #381c4f;
}

.container-general-page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #381c4f;
  justify-content: center;
  padding: 24px 8px;
  border-radius: 0;
  gap: 10px;
  background: linear-gradient(
    0deg,
    rgba(168, 160, 229, 0.8) 0%,
    rgba(241, 242, 252, 0.8) 63.4%
  );
}
.rights-footer {
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  color: #381c4f;
}

@media (min-width: 1200px) {
  .container-rules-page {
    width: 1200px;
    padding: 0 84px;
    margin: 0 auto;
  }

  .container-general-page-footer {
    width: 1200px;
    padding: 0 84px;
    margin: 0 auto;
  }

  .footer-container {
    display: flex;
    width: 1032px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    color: #381c4f;
    border-radius: 24px 24px 0 0;
    background: linear-gradient(
      0deg,
      rgba(168, 160, 229, 0.8) 0%,
      rgba(241, 242, 252, 0.8) 63.4%
    );
  }

  .footer-wrapper-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .game-button {
    display: flex;
    width: 157px;
    height: 47px;
    background: linear-gradient(90deg, #609 0%, #932a81 100%);
    box-shadow: 0 0 56px 8px #b5b5ec;
    padding: 9px 13px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
  }

  .button-text.footer-btn-text {
    width: auto;
    height: auto;
    fill: #f1f2fc;
    transition: fill 0.3s, text-shadow 0.3s;
  }

  .game-button:hover .button-text.footer-btn-text {
    fill: #381c4f;
  }

  .game-button:hover,
  .game-button:focus {
    background: linear-gradient(360deg, #b5b5ec 0%, #f1f2fc 100%);
    box-shadow: 0 0 32px 0 #654fab;
  }

  .footer-list-general-page {
    display: flex;
  }

  .rule-page {
    display: block;
    text-decoration: underline;
    color: #381c4f;
  }

  .rule-page:hover {
    @include gradient-text;
  }
}

@media (max-width: 1199px) {
  .container-rules-page {
    display: flex;
    flex-direction: column;
    border: 0px;
    align-items: center;
    justify-content: center;
    padding: 40px 16px 0px 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-general-page-footer {
    width: 320px;
    margin: 0 auto;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 8px;
    border-radius: 0;
    gap: 10px;
    background: linear-gradient(
      0deg,
      rgba(168, 160, 229, 0.8) 0%,
      rgba(241, 242, 252, 0.8) 63.4%
    );
    color: #381c4f;
  }

  .articles {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    @include gradient-text;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .rights-footer {
    font-size: 12px;
    line-height: 1.3;
    color: #381c4f;
  }

  .footer-wrapper-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .game-button-rules {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 47px;
    cursor: pointer;
    background: linear-gradient(90deg, #609 0%, #932a81 100%);
    box-shadow: 0 0 56px 8px #b5b5ec;
    padding: 9px 13px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
  }

  .game-button-rules:hover .button-text {
    fill: #f1f2fc;
  }

  .game-button-rules:hover,
  .game-button-rules:focus {
    background: linear-gradient(360deg, #b5b5ec 0%, #f1f2fc 100%);
    box-shadow: 0 0 32px 0 #654fab;
  }

  .rules-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.png-icon {
  width: 25px;
  height: 28px;
  margin-right: 13px;
}

.game-button-rules {
  display: flex;
  width: 157px;
  background: linear-gradient(90deg, #609 0%, #932a81 100%);
  box-shadow: 0 0 56px 8px #b5b5ec;
  padding: 9px 13px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
}

.button-text {
  width: auto;
  height: auto;
  fill: #f1f2fc;
  transition: fill 0.3s, text-shadow 0.3s;
}

.game-button-rules:hover .button-text {
  fill: #381c4f;
}

.game-button-rules:hover,
.game-button-rules:focus {
  background: linear-gradient(360deg, #b5b5ec 0%, #f1f2fc 100%);
  box-shadow: 0 0 32px 0 #654fab;
}

.footer-list-general-page {
  display: flex;
}

.rule {
  display: block;
  text-decoration: underline;
}

.rule:hover {
  @include gradient-text;
}

.rule-page {
  text-decoration: underline;
  color: #381c4f;
}

.rule-page:hover {
  @include gradient-text;
}
