@media (max-width: 363px) and (min-width: 320px) {
  .rights-rules {
    font-size: 14px;
  }
}

@media (max-width: 1199px) {
  .container-general-page-footer {
    max-width: 100%;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 8px;
    border-radius: 0;
    gap: 10px;
    background: linear-gradient(
      0deg,
      rgba(168, 160, 229, 0.8) 0%,
      rgba(241, 242, 252, 0.8) 63.4%
    );
    color: #381c4f;
  }
  .footer-wrapper-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .game-button {
    display: flex;
    width: 157px;
    height: 47px;
    background: linear-gradient(90deg, #609 0%, #932a81 100%);
    box-shadow: 0 0 56px 8px #b5b5ec;
    padding: 9px 13px;
    fill: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .button-text {
    width: 92px;
    height: 29px;
    fill: #ffffff;
  }

  .button-text:active {
    fill: #381c4f;
  }

  .game-button:hover,
  .game-button:focus,
  .game-button:active {
    background: linear-gradient(360deg, #b5b5ec 0%, #f1f2fc 100%);
    box-shadow: 0 0 32px 0 #654fab;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
}

@media (min-width: 1200px) {
  .container-general-page-footer {
    min-width: 1200px;
    padding: 0 84px;
    margin: 0 auto;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 24px 24px 0 0;
    background: linear-gradient(
      0deg,
      rgba(168, 160, 229, 0.8) 0%,
      rgba(241, 242, 252, 0.8) 63.4%
    );
    color: #381c4f;
  }
  .game-button {
    display: flex;
    width: 157px;
    background: linear-gradient(90deg, #609 0%, #932a81 100%);
    box-shadow: 0 0 56px 8px #b5b5ec;
    padding: 9px 13px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
  }

  .game-button:hover {
    background: linear-gradient(360deg, #b5b5ec 0%, #f1f2fc 100%);
    box-shadow: 0px 0px 20px 1px rgba;
  }
  .button-text {
    width: auto;
    height: auto;
    fill: #ffffff;
    transition: fill 0.3s, text-shadow 0.3s;
  }
  .button-text:hover,
  .button-text:focus,
  .button-text:active {
    fill: #381c4f;
  }

  .game-button:hover,
  .game-button:focus,
  .game-button:active {
    background: linear-gradient(360deg, #b5b5ec 0%, #f1f2fc 100%);
    box-shadow: 0 0 32px 0 #654fab;
  }
}

.png-icon {
  width: 25px;
  height: 28px;
  margin-right: 13px;
}

.footer-list-general-page {
  display: flex;
}
.rule {
  display: block;
  text-decoration: underline;
}
.rule:hover {
  @include gradient-text;
}

.rule-page {
  text-decoration: underline;
  color: #ffff;
}

.rule-page:hover {
  @include gradient-text;
}
