.gallery-container {
  max-width: 320px;
  padding-top: 40px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/gallery/bg-ellipse@1x.png') no-repeat center top,
    url('../img/gallery/bg-ellipse-bottom@1x.png') no-repeat center bottom;
  @include media(desktop) {
    max-width: 1200px;
    padding-top: 232px;
    padding-bottom: 71px;
    background: url('../img/gallery/bg-ellipse-top-desktop@1x.png') no-repeat
        right top,
      url('../img/gallery/bg-ellipse-center-desktop@1x.png') no-repeat center
        bottom;
  }
}

.gallery-title {
  scroll-margin-top: 110px;
  font-family: 'Domine', serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  @include font(24, 31.2);
  @include media(desktop) {
    @include font(32, 41.6);
  }
}

@include media(to-desktop) {
  .gallery-content {
    display: none;
  }
  .desktop-swiper {
    display: none;
  }
}

@include media(desktop) {
  .phone-swiper {
    display: none;
  }

  .gallery-section {
    max-width: 1200px;
    margin: 0 auto;
  }

  .gallery-content {
    position: relative;
  }

  .marquee {
    position: absolute;
    right: -800px;
    left: 0;
    width: 1200px;
    overflow: hidden;
    padding: 41px 0;
  }

  .marquee__inner {
    display: flex;
    transform: rotate(-3deg);
    box-shadow: inset 0 0 20px 0 #6650ad;
    background: $_bg_light_purple;
    overflow: hidden;
  }

  .marquee__line {
    background-color: transparent;
    @include gradient-text;
    font-weight: 600;
    @include font(20, 26);
    flex-shrink: 0;
    margin-right: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    white-space: nowrap;
    animation: marqueeLine 10s linear infinite;
  }

  @keyframes marqueeLine {
    from {
      transform: translateX(-320%);
    }

    to {
      transform: translateX(5%);
    }
  }
}
