.header-nav {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.header-nav-list {
  @include media(desktop) {
    display: flex;
    gap: 28px;
  }
}

.header-nav-link {
  @include media(desktop) {
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;
  }
}

.header-nav-link:hover {
  @include gradient-text;
}

.header-section {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 32px 16px 16px;
  box-shadow: 0 4px 20px 0 rgba(43, 36, 66, 0.25);
  background: linear-gradient(
    360deg,
    rgba(156, 151, 226, 0.8) 0%,
    rgba(241, 242, 252, 0.8) 63.4%
  );
  @include media(desktop) {
    max-width: 1032px;
    padding: 8px 24px;
    border-radius: 0 0 24px 24px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-text {
  max-width: 119px;
  font-family: 'Domine', serif;
  font-weight: 700;
  @include font(14, 18.2);
  @include gradient-text;
}

.header-burger {
  @include media(to-desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
  }
  @include media(desktop) {
    display: none;
  }
}

.header-burger-icon {
  stroke: #381c4f;
}

.header-burger:active .header-burger-icon {
  stroke: #932a81;
}

// MOBILE MENU STYLES

@include media(to-desktop) {
  .mob-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(45, 40, 61, 0.7);
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  .mob-menu {
    height: 100%;
    max-width: 243px;
    margin-left: auto;
    border-radius: 24px 0 0 24px;
    background-color: #6650ad;
    position: relative;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 250ms ease-in-out;
    transform: translateX(100%);
  }

  .mob-menu-close-btn {
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 42px;
    right: 32px;
  }

  .mob-menu-close-icon {
    fill: #d1d2f4;
  }

  .mob-menu-close-btn:active .mob-menu-close-icon {
    fill: #932a81;
  }

  .mob-menu-nav-list {
    text-align: center;
  }
  .mob-menu-nav-item:not(:last-child) {
    margin-bottom: 28px;
  }

  .mob-menu-nav-link {
    font-weight: 600;
    font-size: 20px;
    color: #f1f2fc;
  }

  .mob-menu-nav-link:active {
    color: #381c4f;
  }

  .mob-menu-overlay.mob-menu-is-open {
    opacity: 1;
    visibility: visible;
  }

  .mob-menu-overlay.mob-menu-is-open .mob-menu {
    transform: translateX(0);
  }
}

@include media(desktop) {
  .mob-menu-overlay {
    display: none;
  }
}
