.bg-color {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Domine', 'Signika', sans-serif;
  background: linear-gradient(
    0deg,
    rgba(168, 160, 229, 0.8) 0%,
    rgba(241, 242, 252, 0.8) 63.4%
  );
  color: #381c4f;
}
.navigate-home {
  display: flex;
  margin-right: auto;
  justify-content: start;
}
.home-link a {
  margin-right: 8px;
}
.home-link {
  display: flex;
  color: #381c4f;
  margin-left: 16px;
  align-items: center;
  margin-bottom: 40px;
  transition: color 0.3s;
}
.home-link:hover,
.home-link:focus {
  @include gradient-text;
}
.page-additional-arrow-icon {
  fill: #d1d2f480;
  margin-right: 10px;
  cursor: pointer;
}
.page-additional-arrow-icon:hover,
.page-additional-arrow-icon:focus {
  fill: #c5c5cd99;
  stroke: rgba(193, 98, 241, 0.913);
}
.text-terms {
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;
}

.text-item {
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.mark-item {
  list-style: disc;
  list-style-position: outside;
  margin-left: 20px;
}

.terms-link-list {
  list-style-type: none;
  margin-bottom: 40px;
  margin-left: 10px;
}

.terms-link-list li {
  text-decoration: underline;
  color: #b5b5ec;
  position: relative;
}

.terms-link-list li:before {
  content: '•';
  color: black;
  position: absolute;
  left: -10px;
}

.terms-link-item a {
  display: block;
  color: #0000ff;
  text-decoration: none;
}

.png-icon {
  width: 25px;
  height: 28px;
  margin-right: 13px;
}

.button-text {
  width: auto;
  height: auto;
  fill: #381c4f;
  transition: fill 0.3s, text-shadow 0.3s;
}

/* Стилі для екранів від 320px до 1199px */
@media (max-width: 1199px) {
  .container-rules-page {
    display: flex;
    flex-direction: column;
    border: 0px;
    align-items: center;
    justify-content: center;
    padding: 40px 16px 0px 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-general-page-footer {
    max-width: 100%;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 8px;
    border-radius: 0;
    gap: 10px;
    color: #ffffff;
    background: linear-gradient(90deg, #609 0%, #932a81 100%);
  }

  .articles {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    @include gradient-text;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .rights-rules-white {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    color: #ffff;
  }

  .footer-wrapper-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .game-button-rules {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 47px;
    cursor: pointer;
    background: linear-gradient(90deg, #609 0%, #932a81 100%);
    box-shadow: 0 0 56px 8px #b5b5ec;
    padding: 9px 13px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
  }

  .game-button-rules:hover .button-text {
    fill: #f1f2fc;
  }

  .game-button-rules:hover,
  .game-button-rules:focus {
    background: linear-gradient(360deg, #b5b5ec 0%, #f1f2fc 100%);
    box-shadow: 0 0 32px 0 #654fab;
  }

  .rules-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* Стилі для екранів від 1200px і більше */
@media (min-width: 1200px) {
  .container-general-page-footer {
    min-width: 1200px;
    padding: 0 84px;
    margin: 0 auto;
  }

  .footer-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 24px 24px 0 0;
    background: linear-gradient(90deg, #609 0%, #932a81 100%);
    color: white;
  }
  .articles {
    font-size: 32px;
    line-height: 1.3;
  }
  .game-button-rules {
    background: linear-gradient(360deg, #b5b5ec 0%, #f1f2fc 100%);
    box-shadow: 0 0 32px 0 #654fab;
  }

  .game-button-rules:hover,
  .game-button-rules:focus {
    background: linear-gradient(90deg, #609 0%, #932a81 100%);
    border: 1px solid #b5b5ec;
    box-shadow: 0 0 56px 8px #b5b5ec;
  }

  .rules-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.game-button-rules {
  display: flex;
  width: 157px;
  height: 47px;
  cursor: pointer;
  background: linear-gradient(90deg, #609 0%, #932a81 100%);
  // box-shadow: 0 0 56px 8px #b5b5ec;
  box-shadow: 0px 0px 20px 1px #2b244240;
  padding: 9px 13px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
}

.game-button-rules:hover .button-text,
.game-button-rules:focus .button-text,
.game-button-rules:active .button-text {
  fill: #f1f2fc;
}

.footer-list-general-page {
  display: flex;
}

.rule-page {
  display: block;
  text-decoration: underline;
  color: white;
}

.rule-page:hover {
  @include gradient-text;
}
