.reviews-container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 16px 40px;
  background: url('../img/reviews/ellipse-phone@1x.png') no-repeat;

  @media screen and (min-resolution: 192dpi) {
    background: url('../img/reviews/ellipse-phone@1x.png') no-repeat 0 0 / 320px
      250px;
  }

  @include media(desktop) {
    max-width: 1200px;
    padding: 100px 84px 80px;
    background: url('../img/reviews/ellipse-desktop@1x.png') no-repeat top
      center;

    @media screen and (min-resolution: 192dpi) {
      background: url('../img/reviews/ellipse-desktop@2x.png') no-repeat top
        center / 980px 554px;
    }
  }
}

.reviews-title {
  text-align: center;
  margin-bottom: 32px;
  font-family: 'Domine', serif;
  font-weight: 700;
  @include font(24, 31.2);
  @include media(desktop) {
    margin-bottom: 20px;
    @include font(32, 41.6);
  }
}

@include media(to-desktop) {
  .reviews-desktop-swiper {
    display: none;
  }
  .reviews-slide {
    background: url('../img/reviews/quotes2.svg') no-repeat 16px 16px,
      linear-gradient(
        360deg,
        rgba(156, 151, 226, 0.8) 0%,
        rgba(241, 242, 252, 0.8) 63.4%
      );
    border-radius: 36px;
  }

  .reviews-slide-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    height: 204px !important;
  }

  .reviews-card-text {
    padding-left: 16px;
    font-weight: 500;
    @include font(16, 20.8);
    color: #3a2576;
  }

  .reviews-card-username {
    position: absolute;
    left: 16px;
    bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    @include font(14, 18.2);
    @include gradient-text;
  }

  .review-first-slide {
    background: url('../img/reviews/1.png') no-repeat right bottom;
    @media screen and (min-resolution: 192dpi) {
      background: url('../img/reviews/1@2x.png') no-repeat right bottom / 151px
        195px;
    }
  }
  .review-second-slide {
    background: url('../img/reviews/2.png') no-repeat right bottom;
    @media screen and (min-resolution: 192dpi) {
      background: url('../img/reviews/2@2x.png') no-repeat right bottom / 151px
        181px;
    }
  }
  .review-third-slide {
    background: url('../img/reviews/3.png') no-repeat right bottom;
    @media screen and (min-resolution: 192dpi) {
      background: url('../img/reviews/3@2x.png') no-repeat right bottom / 135px
        179px;
    }
  }
  .review-forth-slide {
    background: url('../img/reviews/4.png') no-repeat right bottom;
    @media screen and (min-resolution: 192dpi) {
      background: url('../img/reviews/4@2x.png') no-repeat right bottom / 194px
        193px;
    }
  }
  .review-fifth-slide {
    background: url('../img/reviews/5.png') no-repeat right bottom;
    @media screen and (min-resolution: 192dpi) {
      background: url('../img/reviews/5@2x.png') no-repeat right bottom / 158px
        170px;
    }
  }

  .review-first-slide .reviews-card-text {
    max-width: 152px;
  }
  .review-second-slide .reviews-card-text {
    max-width: 161px;
  }
  .review-third-slide .reviews-card-text {
    max-width: 173px;
  }
  .review-forth-slide .reviews-card-text {
    max-width: 157px;
  }
  .review-fifth-slide .reviews-card-text {
    max-width: 161px;
  }
}

@include media(desktop) {
  .reviews-phone-swiper {
    display: none;
  }

  .reviews-desktop-slide {
    padding-top: 60px;
    filter: blur(4px);
  }

  .swiper-slide-prev .reviews-desktop-slide-wrapper::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    background: url('../img/reviews/card-linear-left.png') repeat-y center right
      85px / 435px 300px;
    @media screen and (min-resolution: 192dpi) {
      background: url('../img/reviews/card-linear-left@2x.png') repeat-y center
        right 85px / 435px 300px;
    }
  }
  .swiper-slide-next .reviews-desktop-slide-wrapper::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    background: url('../img/reviews/card-linear-right.png') repeat-y center left
      85px / 435px 300px;
    @media screen and (min-resolution: 192dpi) {
      background: url('../img/reviews/card-linear-right@2x.png') repeat-y center
        left 85px / 435px 300px;
    }
  }

  .reviews-desktop-slide.swiper-slide-active {
    filter: blur(0px);
  }

  .reviews-desktop-slide-wrapper {
    background: url('../img/reviews/quotes2.svg') no-repeat 32px 32px / 32px
        32px,
      linear-gradient(
        360deg,
        rgba(156, 151, 226, 0.8) 0%,
        rgba(241, 242, 252, 0.8) 63.4%
      );
    border-radius: 40px;
    position: relative;
    display: flex;
    align-items: center;
    height: 263px !important;
  }

  .reviews-desktop-card-text {
    padding-left: 32px;
    font-weight: 500;
    @include font(18, 23.4);
    color: #3a2576;
  }

  .reviews-desktop-card-username {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    @include font(16, 20.8);
    @include gradient-text;
  }

  .swiper-desktop-img {
    position: absolute;
    bottom: 0;
  }

  .review-desktop-first-slide .swiper-desktop-img {
    right: -15px;
  }

  .review-desktop-second-slide .swiper-desktop-img {
    right: -37px;
  }

  .review-desktop-third-slide .swiper-desktop-img {
    right: 0;
  }

  .review-desktop-forth-slide .swiper-desktop-img {
    right: -37px;
  }

  .review-desktop-fifth-slide .swiper-desktop-img {
    right: 0;
  }

  .review-desktop-first-slide .reviews-desktop-card-text {
    max-width: 218px;
  }

  .review-desktop-second-slide .reviews-desktop-card-text {
    max-width: 241px;
  }

  .review-desktop-third-slide .reviews-desktop-card-text {
    max-width: 246px;
  }

  .review-desktop-forth-slide .reviews-desktop-card-text {
    max-width: 221px;
  }

  .review-desktop-fifth-slide .reviews-desktop-card-text {
    max-width: 221px;
  }

  .reviews-desktop-slide .swiper-desktop-img {
    transform: scale(0.8);
    transition: transform 200ms ease-in-out, bottom 200ms ease-in-out;
    bottom: -35px;
  }

  .reviews-desktop-slide .review-desktop-second-slide .swiper-desktop-img {
    bottom: -31px;
  }

  .reviews-desktop-slide .review-desktop-third-slide .swiper-desktop-img {
    bottom: -31px;
  }

  .reviews-desktop-slide .review-desktop-forth-slide .swiper-desktop-img {
    bottom: -31px;
  }

  .reviews-desktop-slide .review-desktop-fifth-slide .swiper-desktop-img {
    bottom: -28px;
  }

  .reviews-desktop-slide.swiper-slide-active .swiper-desktop-img {
    transform: scale(1);
    bottom: 0;
  }

  .reviews-swiper-button {
    width: 40px !important;
    height: 40px !important;
    background-color: rgba(209, 210, 244, 0.5);
    border: 1px solid #381c4f;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
  }

  .reviews-swiper-button::after {
    display: none;
  }

  .reviews-swiper-button-icon {
    width: 24px !important;
    height: 24px !important;
    fill: #381c4f;
    transition: all 150ms ease-in-out;
  }

  .reviews-swiper-button:hover {
    border-color: #932a81;
  }

  .reviews-swiper-button:hover .reviews-swiper-button-icon {
    fill: #932a81;
  }

  .swiper-button-prev.reviews-swiper-button {
    left: 0;
    top: 192px;
  }
  .swiper-button-next.reviews-swiper-button {
    right: 0;
    top: 192px;
  }
}
