@import './header.scss';
@import './hero.scss';
@import './gallery.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './advantages.scss';
@import './reviews.scss';
@import './footer.scss';
@import './privacy-policy.scss';
@import './terms-and-conditions.scss';

:root {
  font-family: 'Signika', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  scroll-behavior: smooth;

  color: #381c4f;
  background-color: #6650ad;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
